<div class='thread-view content-preview'>
    <div class='thread-head'>
        <h2><a href='/board/{{thread.board_id}}'>Back to {{thread.board.name}} Board</a></h2>
        <h2><p>{{thread.thread_name}}</p></h2>
        <h3><p>Posted by: {{thread.user.user_name}}</p></h3>
        <p>{{thread.body}}</p>
    </div>
    <div class='comment-section'>
        {{#each comments as |comment|}}
        <div class='comment'>
            <h4>{{user.user_name}} says:</h4>
            <p>{{comment.body}}</p>
            <div commentBody="{{comment.body}}" commentID="{{comment.id}}" commentVote="{{comment.comment_vote}}" style="display: flex;align-items: center;justify-content: center;">
              <button class="fa fa-thumbs-o-up thumbsUpButton" aria-hidden="true" style="margin-left:10px;margin-right:2px"></button>
              <button class="fa fa-thumbs-o-down thumbsDownButton" aria-hidden="true" style="margin-right:5px"></button>
              <h3>{{comment.comment_vote}}</h3>
            </div>
            
        </div>
        {{/each}}
      <form class='comment-creation'>
        <textarea type="text" class="textarea is-large" id="comment-content" name="comment-content" placeholder="comment content here"></textarea></br>
        <button id="btn"  class="createbtn">Create comment</button>
        <div id="msg">
          <pre></pre>
        </div>
      </form>  
    </div>
         <script src="/js/createcomment.js" async defer></script>

</div>